@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@mixin mobile{
   @media (width <= 768px){
        @content;
    }
}

%flex{
    display: flex;
    align-items: center;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}