body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}
body.dark {
  background-color: #030205;
}

.radio-btn {
  background-color: #27173a;
  height: 80px;
  width: 150px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.radio-btn .radio {
  position: relative;
  height: 60px;
  width: 60px;
  transition: all 0.6s;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;
}

.radio-btn .radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: -60%;
  width: 100%;
  height: 100%;
  background-color: #27173a;
  transform: scale(0);
  transition: all 0.6s;
  border-radius: 50%;
}

.radio-btn .radio.active {
  transform: translateX(calc(150px - 80px));
  background-color: white;
}

.radio-btn .radio.active::before {
  left: -25px;
  transform: scale(1);
}

.container {
  width: 350px;
  height: 580px;
  background-color: rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}
.counter{
  width: 300px;
  height: 125px;
  border-radius:10px ;
  display: flex;
  align-items: center;
  justify-content: center;
}
#display{
  width: 300px;
  height: 80px;
  border-radius:10px ;
  font-size: 50px;
  background-color: #fff;
  border:2px solid;
}
.row {
  width: 350px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
}
.row input {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-weight: 700;
  font-family: sans-serif;
  background-color: #ebdfdf;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: large;
  border-style: none;
}
#outnum {
  background-color: rgb(234, 238, 238);
}
#finalresult {
  background-color: rgb(230, 175, 65);
  
}
input{
  outline: none;
}
input:last-of-type{
  width: 200px;
  border-radius:50%;
}