@use "../_UseLess/index.scss" as *;

body {

  a{
    text-decoration: none;
  }

  @include mobile {
    .logo {
      input,
      label,
      div {
        display: none;
      }
    }

    ul {
      li {
        display: none;
      }
    }
  }
}

.containerone {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #edeef2;

  .navbar {
    display: flex;
    justify-content: space-between;
    width: 82.2%;
    height: 80px;
    background: var(--neutral-white, #fff);

    @include mobile {
      width: 330px;
    }

    .logo {
      @extend %flex;
      gap: 40px;
      .search {
        width: 234px;
        height: 40px;
        border-radius: 12px;
        background: var(--neutral-gray-lightest, #edeef2);
        display: flex;

        @include mobile {
          display: none;
        }

        input {
          height: 40px;
          width: 190px;
          border-radius: 12px;
          border: none;
          background: var(--neutral-gray-lightest, #edeef2);
          padding-left: 12px;

          &:focus {
            outline: none;
          }
        }

        .loopimg {
          width: 44px;
          height: 40px;
          background-image: url(../imagedidi/search.png);
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }
      }
    }

    .square {
      @extend %flex;

      ul {
        @extend %flex;

        li {
          color: var(--neutral-black, $base-color);
          text-align: right;

          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0.1px;
          cursor: pointer;
        }

        .borderdiv {
          width: 1px;
          height: 32px;
          background-color: var(--neutral-black, #edeef2);
          margin-right: 20px;

          @include mobile {
            display: none;
          }
        }

        .lastone {
          margin: 0 20px 0 28px;
        }
      }
      .vector {
        width: 48px;
        height: 48px;
        background-image: url(../imagedidi/shopping\ bag.png);
        background-repeat: no-repeat;
        border-radius: 16px;
        background-color: var(--primary-light, #f3f4ff);
        background-position: center;
        margin: 0 24px 0 17px;
      }

      .girl {
        width: 48px;
        height: 48px;
        background-image: url(../imagedidi/img.png);
        border-radius: 16px;
      }

      .burger-icon {
        display: none;

        @include mobile {
          width: 48px;
          height: 48px;
          border-radius: 16px;
          background: var(--neutral-gray-lightest, #edeef2);
          @include center;
          cursor: pointer;
          color: #83859c;
        }
      }

      .verticalLine {
        @include mobile {
          height: 32px;
          border: 1px solid #edeef2;
          margin-inline: 17px;
        }
      }
    }
  }
}

section {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sale {
      width: 82.2%;
      display: flex;
      justify-content: space-between;
      margin-top: 24px;
      margin-bottom: 32px;

      @include mobile {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-bottom: 30px;
      }
      .ice {
        width: 48%;
        height: 188px;
        border-radius: 16px;
        background-color: var(--primary-light, #f3f4ff);
        display: flex;

        @include mobile {
          width: 330px;
          height: 296px;
          flex-direction: column;
          flex-direction: column-reverse;
        }

        .left {
          width: 290px;
          height: 188px;
          background-image: url(../imagedidi/imgg.png);
          background-position: center;

          @include mobile {
            width: 330px;
          }
        }

        .describe {
          padding: 24px 24px 16px 16px;

          @include mobile {
            display: flex;
            gap: 80px;
          }

          h3 {
            color: var(--neutral-black, #2b2b43);

            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0.1px;
          }

          h1 {
            color: var(--primary-default, #4e60ff);

            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 56px;
            letter-spacing: 0.1px;
          }
          p {
            color: var(--neutral-gray, #83859c);

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.1px;
            padding-top: 32px;
          }
        }
      }

      .burger {
        width: 48%;
        height: 188px;
        border-radius: 16px;
        border-radius: 16px;
        background: var(--secondary-light, #fff3ed);
        display: flex;

        @include mobile {
          width: 330px;
          height: 296px;
          flex-direction: column;
          flex-direction: column-reverse;
        }

        .leftone {
          width: 290px;
          height: 188px;
          background-image: url(../imagedidi/img2.png);
          background-position: center;

          @include mobile {
            width: 330px;
          }
        }

        .describeone {
          padding: 24px 24px 16px 16px;

          @include mobile {
            display: flex;
            gap: 60px;
          }

          h3 {
            color: var(--neutral-black, #2b2b43);

            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0.1px;
          }

          h1 {
            color: var(--secondary-default, #fd6d22);

            font-size: 40px;
            font-style: normal;
            font-weight: 800;
            line-height: 56px;
            letter-spacing: 0.1px;
          }
          p {
            color: var(--neutral-gray, #83859c);

            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.1px;
            padding-top: 32px;
          }
        }
      }
    }
    .menu {
      width: 82.2%;
      display: flex;
      justify-content: space-between;



      @include mobile {
        width: 330px;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;
      }

      div {
        width: 160px;
        height: 80px;
        border: 1px solid #edeef2;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        &:hover,
        &:focus {
          background-color: #f8f9ff;
          border: 1px solid #697bff;
          cursor: pointer;
        }


        @include mobile {
          width: 100px;
          height: 80px;
        }

        p {
          color: var(--neutral-gray-dark, #545563);
          text-align: center;

          font-size: 13px;
          font-style: normal;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0.1px;
        }

        
      }
    }
    .restaurants {
      width: 82.2%;

      @include mobile {
        width: 330px;
      }
      .ordered {
        width: 100%;
        display: flex;
        justify-content: space-between;

        @include mobile {
          flex-direction: column;
          align-items: center;
          gap: 30px;
        }

        .sushi,
        .pizza,
        .ninjashushi {
          width: 28%;
          height: 276px;
          border-radius: 16px;
          background-image: url(../imagedidi/img3.png);
          background-repeat: no-repeat;
          border: 1px solid #edeef2;
          display: flex;
          flex-direction: column;
          justify-content: end;
          padding: 16px;
          gap: 23px 0;

          @include mobile {
            width: 305px;
          }

          h1 {
            color: var(--neutral-black, #2b2b43);

            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.1px;
            display: inline;
          }

          p {
            color: var(--neutral-gray, #83859c);

            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 16px;
            display: inline;
          }
          img {
            width: 12px;
            height: 12px;
            display: inline;
          }
        }
      }
      h4 {
        color: var(--neutral-black, #2b2b43);

        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0.1px;
        margin: 40px 0 16px 0;
      }
      .hotdog {
        display: flex;
        width: 70px;
        padding: 4px 10px;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 100px;
        background: var(--neutral-gray-lightest, #edeef2);
      }
    }
  }
}
